<h3>Archive</h3>

<% for post in @posts %>
  <p class="archive-entry">
    <time datetime="<%= geek_date(post.date) %>">
      <%= tidy_date(post.date) %>
    </time>
    <a href="/<%= post.name %>"><%= post.title %></a>
  </p>
<% end %>
