<h3>Archive</h3>

<ul id="archive">
<% for post in @posts %>
   <li>
   <time datetime="<%= geek_date(post.date) %>">
      <%= short_date(post.date) %>
   </time>
   </span>
    <a href="/<%= post.name %>"><%= post.title %></a>
  </li>
<% end %>
</ul>