<h1>Contact Me</h1>

<ul id="contact">

	<li>
		<a href="mailto:&#100;&#097;&#118;&#101;&#064;&#099;&#111;&#100;&#101;&#098;&#105;&#102;&#102;&#046;&#099;&#111;&#109;">
		<img src="/images/email.png" alt="email">
		<span>&#100;&#097;&#118;&#101;&#064;&#099;&#111;&#100;&#101;&#098;&#105;&#102;&#102;&#046;&#099;&#111;&#109;</span>
		</a>
	</li>
	
	<li>
		<a href="http://twitter.com/#!/codebiff">
		<img src="/images/twitter.png" alt="twitter">
		<span>@codebiff</span>
		</a>
	</li>
	
</ul>