<% for post in @posts %>
  <%= partial :stub, :post => post %>      
<% end %>

<% if POST_PAGES > 1 %>
<% @page = get_page %>
<div class="pagination">
    <p>
    <% if @page.to_i != 1 %>
      <a class="pagination-newer" href="<%= "#{request.path}?page=#{@page.to_i - 1}" %>">&lsaquo; newer posts</a>
    <% end %>
    
    <% if @page.to_i != POST_PAGES %>
      <a class="pagination-older" href="<%= "#{request.path}?page=#{@page.to_i + 1}" %>">older posts &rsaquo;</a>
    <% end %>
  </p>
</div>
<% end %>
