<!DOCTYPE>
<html>

  <head>
    <title>Web Title</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    
    <section id="container">




      <section id="mainColumn">
        
        <header>
          <h1>blog Title</h1>
          <p>this is the tag line of the blog...</p>
        </header>

        <section id="contents">
          
          <%= yield %>

        </section> <!-- /contents -->



      </section>






      <section id="sidebar">

        <section class="sidebar-box">
          <a href="#" class="social-link"><img src="/images/rss.png" alt="twitter"></a>  
          <a href="#" class="social-link"><img src="/images/facebook.png" alt="twitter"></a>  
          <a href="#" class="social-link"><img src="/images/twitter.png" alt="twitter"></a>  
        </section> <!-- /sidebar-box -->

        <section class="sidebar-box">
          <h3>tags</h3>
          <ul class="tags">
            <% for tag in @tags %>
              <li><a href="/tags/<%= tag %>"><%= tag %></a></li>
            <% end %>
          </ul>
        </section> <!-- /sidebar-box -->

      </section>





      <footer>
        <p>&copy; 2012 footer text</p>
      </footer>

    </section> <!-- /container -->

  </body>
</html>
