<!DOCTYPE>
<html>

  <head>
    <title>Blog Title | <%= @title %></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    
    <section id="container">




      <section id="mainColumn">
        
        <header>
          <a href="/"><img src="http://dummyimage.com/600x90/fff" alt="title"></a>
        </header>

        <section id="contents">
          
          <%= yield %>

        </section> <!-- /contents -->



      </section>






      <section id="sidebar">

        <section class="sidebar-box">
          <a href="#" class="social-link"><img src="/images/rss.png" alt="twitter"></a>  
          <a href="#" class="social-link"><img src="/images/facebook.png" alt="twitter"></a>  
          <a href="#" class="social-link"><img src="/images/twitter.png" alt="twitter"></a>  
        </section> <!-- /sidebar-box -->

        <section class="sidebar-box">
          <h3>tags</h3>
          <ul class="tags">
            <% for tag in @tags %>
              <li><a href="/tags/<%= tag %>"><%= tag %></a></li>
            <% end %>
          </ul>
        </section> <!-- /sidebar-box -->

      </section>





      <footer id="footer">
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
      </p>
      </footer>

    </section> <!-- /container -->

  </body>
</html>
