<h3 class="tags-found">Search result for '<%= h params[:q] %>':</h3>

<% unless @posts.empty? %>

  <% for post in @posts %>
    <%= partial :stub, :post => post %>        
  <% end %>

<% else %>

  <p>No posts found... return to the <a href="/">home page</a></p>

<% end %>
