<h3 class="tags-found">Found <%= pluralize(@posts.count, "post") %> tagged as '<%= params[:tag] %>':</h3>

<% unless @posts.empty? %>

  <% for post in @posts %>
    <%= partial :stub, :post => post %>        
  <% end %>

<% else %>

  <p>No posts found... return to the <a href="/">home page</a></p>

<% end %>
