@import url(http://fonts.googleapis.com/css?family=Neucha|Ubuntu:400,700,400italic,700italic);



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




html { height: 100% }

body {
	background: url("../images/bg.png") repeat;
	color: #444;
	font-family: Ubuntu, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; 
	height: 100%;
}

p {
	font-size: 13px;
	line-height: 1.5em
}

a {
	color: #4995D3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

strong { font-weight: bold; }
em     { font-style: italic; }

h1, h2, h3, h4 { 
	margin-bottom: 20px;
	font-weight: bold; 
}
h1 { font-size: 28px }
h2 { font-size: 22px }
h3 { font-size: 20px }
h4 { font-size: 18px }




#container {
	width: 960px;
	margin: 30px auto;
}

#mainColumn {
	width: 700px;
	float: left;
}

#sidebar {
	width: 200px;
	float: right;
	display: inline;
}




/* MAIN HEADER */

#mainColumn > header {
	margin-bottom: 40px;
}

#mainColumn > header h1 {
	font-size: 40px
}

#mainColumn header img {
	display: block;
	margin: 0 auto;
}



/* POST */

.post header {
	margin-bottom: 15px;
} 

.post header h1 {
	font-size: 26px;
	margin-bottom: 0px;
	font-family: 'Neucha', sans-serif;
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7); 
}

.post header time {
	font-size: 12px;
	font-style: italic;
	line-height: 24px;
	color: #888;
	background: url('../images/clock-small.png') no-repeat 0 -2px;
	padding: 0 20px 0 17px;
}

ul.tags {
	display: inline;
}

ul.tags li {
	display: inline;
	padding: 0 2px 0 15px;
	background: url('../images/tag-small.png') no-repeat 0 5px;
}


.post p.read-more {
	text-align: right;
	padding-right: 20px;
	font-style: italic;
}

.post {
	margin-bottom: 60px;
}

.post .postContent p {
	margin-bottom: 20px;
  padding: 0 0 0 10px;
}

.post .postContent img {
	display: block;
	border: 8px solid rgba(0,0,0,0.1);
	border-radius: 6px;
	margin: 0 auto;
}

.post .postContent img[alt~="left"] {
	float: left;
	margin-right: 20px;
}

.post .postContent img[alt~="right"] {
	float: right;
	margin-left: 20px;
}

.post .postContent p code,
.post .postContent pre
 {
	background: #707070;
	background: rgba(112,112,112,0.95);
	color: #fff;
	padding: 2px 4px;
	font-family: mono;
	font-size: 12px;
	font-weight: bold;
	border-radius: 3px;
}

.post .postContent pre {
	padding: 10px 0 10px 20px;
	margin: 0 0 20px 10px;
	line-height: 1.3em;
}

#mainColumn h3 {
	font-size: 18px;
	font-style: italic;
	margin: 33px 0 10px 0;
}


#fourohfour img {
	display: block;
	margin: 30px auto;
}

#fourohfour p {
	text-align: center;
	margin-bottom: 50px
}



/* SIDEBAR */

#sidebar .sidebar-box {
	margin-bottom: 20px;
}

#sidebar .sidebar-box h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 7px;
}

#sidebar .sidebar-box .social-link {
	padding-right: 3px;
}

ul.tags li a{
	font-size: 12px;
	color: #888;
	font-weight: normal;
}

/* DISQUS */
#dsq-content h3 {
	font-size: 14px;
	font-weight: normal;
}

#dsq-subscribe { display: none; }




/* FOOTER */
footer {
	padding: 30px 0;
	clear: both;
	text-align: center;
}

footer img {
	margin-bottom: 6px;
}

footer p {
	font-size: 10px;
}
