@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html,body,div,span,applet,object,iframe
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

body {
background:url("../images/bg.png") repeat;
color:rgba(255,255,255,0.6);
font-family:Verdana, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
height:100%;
font-size:11px;
line-height:1.5em;
text-shadow:0 1px 0 rgba(0,0,0,0.6);
}

ol,ul {
list-style:none;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

html {
height:100%;
}

a {
color:#4995D3;
text-decoration:none;
}

button:hover {
cursor: pointer;
}

a:hover {
text-decoration:underline;
cursor:pointer;
}

strong {
font-weight:700;
}

em {
font-style:italic;
}

h1,h2,h3,h4 {
font-weight:700;
}

h1 {
font-size:28px;
}

h2 {
font-size:22px;
}

h3 {
font-family:"Open Sans Condensed";
}

h4 {
font-size:18px;
}

#container {
width:960px;
margin: 0px auto;
}

#mainColumn {
width:700px;
float:left;
padding-top: 45px;
}

#sidebar {
width:200px;
float:right;
display:inline;
}

.twitter-share-button {
float:right;
position: relative;
top: 5px;
}

.post {

}

.post header {
margin-bottom:10px;
}

.post header h1 {
font-size:26px;
margin: 0 0 7px 0;
font-weight:400;
font-family:"Open Sans Condensed", Arial, sans-serif;
line-height: 1em;
}

.post .post-meta {
font-size:10px;
color:rgba(255,255,255,0.5);
margin-top: 10px
}

.post header time {
font-style:italic;
background:url('../images/clock-small.png') no-repeat 0 0;
padding:2px 20px 0 17px;
}

ul.tags {
display:inline;
}

ul.tags li {
display:inline;
background:url('../images/tag-small.png') no-repeat 0 4px;
padding:4px 2px 0 15px;
}

.post p.read-more {
text-align:right;
padding-right:20px;
font-style:italic;
}

.post .postContent p {
margin-bottom:20px;
}

.post .postContent img {
display:block;
border:8px solid rgba(0,0,0,0.1);
border-radius:6px;
margin:0 auto;
}

.post .postContent img[alt~="clean"] {
display:inline;
border:none;
margin:0 10px 0 0;
}

.post .postContent img[alt~="left"] {
float:left;
margin-right:20px;
}

.post .postContent img[alt~="right"] {
float:right;
margin-left:20px;
}

.postContent p code,.postContent pre {
font-family:mono, monospace;
font-size:12px;
}

.postContent p code {
background:#3f3f3f;
color:#fff;
font-family:mono, monospace;
font-size:12px;
padding:2px 4px;
background: rgba(0,0,0,0.1);
border-radius: 4px;
}

.post .postContent pre code {
line-height:1.3em;
margin:0 0 20px;
padding:10px;
overflow-x: auto;
overflow-y: hidden;
background: rgba(0,0,0,0.1);
border-radius: 10px;
}


blockquote {
font-style:italic;
margin:0 40px;
}

#mainColumn h3 {
font-size:18px;
font-style:italic;
padding: 0 0 20px 0
}

#mainColumn .post h3 {
padding: 20px 0 15px 0;
}

h3.tags-found {
padding-bottom:20px;
}

.pagination {
font-family: "Open Sans Condensed", sans-serif;
font-size: 16px; 
}

.pagination .pagination-newer {
float: left;
}

.pagination .pagination-older {
float: right;
}

#fourohfour {
position: relative;
}

#fourohfour p {
text-align:center;
margin-bottom:50px;
}

#fourohfour-image {
display: block;
width: 348px;
height: 147px;
position: absolute;
top: 99px;
right: -40px;
}

p.archive-entry {
line-height:20px;
}

p.archive-entry time {
display:inline-block;
width:140px;
text-align:right;
padding-right:10px;
font-size:12px;
font-style:italic;
color:#888;
}

#sidebar .sidebar-box {
position: relative;	
}

#sidebar .sidebar-box a.title {
display: block;
font-size: 70px;
font-weight: 300;
font-family: "Open Sans Condensed", sans-serif;
padding-top: 30px;
line-height: 1.2em; 
}

#sidebar .sidebar-box a.title:hover {
text-decoration: none;
color: #fff;
}

#sidebar .sidebar-box h3 {
font-size:18px;
font-weight:400;
font-style:italic;
margin-bottom:10px;
}

#sidebar .sidebar-box .social-link {
padding-right:3px;
}

#sidebar .sidebar-search form {
position: relative;
}

#sidebar .sidebar-search input, 
#sidebar .sidebar-search button
{
background: #333;
background: rgba(0,0,0,0.2);
border: none;
color: #111;
color: rgba(255,255,255,0.6);
padding: 0;
margin: 0;
height: 24px;
display: block;
}

#sidebar .sidebar-search input {
width: 164px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
padding-left: 6px;
}

input:focus {
outline: none;
}

#sidebar .sidebar-search button {
/*border-left: 1px solid #666;*/
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
width: 30px;
position: absolute;
right: 0;
top: 0;
text-indent: -99999px;
background-image: url("../images/arrow-curve-gray.png");
background-repeat: no-repeat;
background-position: 5px 5px;
}

#sidebar .sidebar-nav a {
line-height:1em;
}

#twitter {
font-style:italic;
font-size:10px;
}

.follow-me-twitter {
margin-top:8px;
font-size:9px;
}

.follow-me-twitter a {
font-weight:400;
}

ul.tags li a {
font-size:10px;
color:rgba(255,255,255,0.5);
font-weight:400;
}

ul.tags li a:hover {
color:#fff;
text-decoration:none;
}

#dsq-content h3 {
font-size:14px;
font-weight:400;
width: 100%;
}

#dsq-subscribe {
display:none;
}

.dsq-comment-body,.dsq-like-activity {
font-size:12px;
}

.dsq-comment-meta li,.dsq-comment-actions {
line-height:14px;
}

footer {
clear:both;
padding:30px 0 50px;
}

.footer-block {
width:300px;
float:left;
margin:10px;
}

#mainColumn > header,#sidebar .sidebar-box {
margin-bottom:30px;
}

.pagination ul,.center {
text-align:center;
}
